:root{
-Verydarkblue:#041727;
-Darkblue:#0a1e34;
-Desaturatedblue:#849dbd;
-Paleblue:#e0f1ff;

-Blue:#5847eb;

-Lightred:#ff8c66;
-Softblue:#56c2e6;
-Lightred:#ff5c7c;
-Limegreen:#4acf81;
-Violet:#7536d3;
-Softorange:#f1c65b;

-Verydarkblue:#0f1424;
-Darkblue:#1c1f4a;
-Desaturatedblue:#6f76c8;
-PaleBlue:#bdc1ff;

}
